.step-progress {
  padding: 16px;
  margin: 0 auto;
}

.step-progress .step-slider {
  width: 100%;
}

.step-progress .step-slider .step-slider-item {
  height: 5px;
  position: relative;
  float: left;
}

.step-progress .step-slider .step-slider-item:after {
  content: attr(data-value);
  min-width: 25px;
  height: 25px;
  position: absolute;
  top: -18px;
  left: 0;
  padding: 2px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-progress .step-slider .step-slider-item:last-child:after {
  left: 100%;
}

.step-progress .step-slider .step-slider-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  z-index: 1;
  transition: all 0.5s ease-out;
}

.step-progress .step-slider .step-slider-item:last-child:before {
  right: 2px;
}

.step-progress .step-slider .step-slider-item.active:before {
  width: 100%;
}